@import "scroll.css";
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-size: 11px;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  height: 100%;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
textarea {
  resize: none;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a {
  color: #528fcc;
}
.orange_bg {
  background: #fcb319;
  background: -moz-linear-gradient(top,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcb319),color-stop(100%,#e87b17),color-stop(100%,#2989d8),color-stop(100%,#7db9e8));
  background: -webkit-linear-gradient(top,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  background: -o-linear-gradient(top,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  background: -ms-linear-gradient(top,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  background: linear-gradient(to bottom,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcb319',endColorstr='#7db9e8',GradientType=0);
}
.gray_bg {
  background: #f8ffe8;
  background: -moz-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8ffe8),color-stop(4%,#f8ffe8),color-stop(44%,#eeeeee),color-stop(100%,#e9e9e9));
  background: -webkit-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -o-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -ms-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: linear-gradient(to bottom,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ffe8',endColorstr='#e9e9e9',GradientType=0);
}
.shadow {
  -webkit-box-shadow: 0px 5px 15px rgba(50,50,50,0.75);
  -moz-box-shadow: 0px 5px 15px rgba(50,50,50,0.75);
  box-shadow: 0px 5px 15px rgba(50,50,50,0.75);
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
}
#main header {
  position: relative;
  padding-top: 30px;
}
#main header .header_nav {
  position: absolute;
  width: 100%;
  height: 30px;
  list-style: none;
  background-color: #6c6c6c;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
#main header .header_nav li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
#main header .header_nav li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  padding: 0 20px;
  line-height: 30px;
  font-size: 11pt;
}
#main header .header_nav li a:hover {
  color: #528fcc;
}
#main header .right_nav {
  position: absolute;
  display: table;
  height: 30px;
  list-style: none;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
#main header .right_nav li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
#main header .right_nav li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  padding: 0 20px;
  line-height: 30px;
}
#main header .right_nav li a:hover {
  color: #528fcc;
}
#main header .header_content {
  height: 71px;
  position: relative;
  border-bottom: 1px solid #c0c0c0;
  background: #f8ffe8;
  background: -moz-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8ffe8),color-stop(4%,#f8ffe8),color-stop(44%,#eeeeee),color-stop(100%,#e9e9e9));
  background: -webkit-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -o-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -ms-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: linear-gradient(to bottom,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ffe8',endColorstr='#e9e9e9',GradientType=0);
}
#main header .header_content .logo {
  margin: 8px 0 0 10px;
  background: url(images/logo_bank.png) no-repeat 0 0;
  display: block;
  width: 156px;
  float: left;
  padding: 30px 0 0 40px;
  font-weight: bold;
}
#main header .header_content .logo:hover {
  text-decoration: none;
}
#main header .header_content .search-top {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0 0 50px;
}
#main header .header_content .search-top .date_now {
  text-align: left;
  color: #8393a6;
  font-size: 12px;
  font-style: italic;
}
#main header .header_content .search-top .date_now .time {
  color: #3e4b5a;
  font-size: 16px;
  padding: 0 13px 0 0;
  font-weight: bold;
  font-style: normal;
}
#main header .header_content .search-top .date_now .day {
  font-weight: bold;
}
#main header .header_content .search-top input {
  outline: 0;
  padding: 5px 0;
  font-size: 12px;
  border-radius: 5px;
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  -webkit-box-shadow: -1px -1px 0px #cfcfcf;
  -moz-box-shadow: -1px -1px 0px #cfcfcf;
  box-shadow: -1px -1px 0px #cfcfcf;
  margin-top: 5px;
  text-indent: 10px;
  font-style: italic;
  width: 300px;
}
#main header .header_content .search-top .search_btn {
  width: 30px;
  height: 23px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #ed9545;
  -webkit-box-shadow: 0px 1px 0px #947b64;
  -moz-box-shadow: 0px 1px 0px #947b64;
  box-shadow: 0px 1px 0px #947b64;
  background: #fcb319;
  background: -moz-linear-gradient(top,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcb319),color-stop(100%,#e87b17),color-stop(100%,#2989d8),color-stop(100%,#7db9e8));
  background: -webkit-linear-gradient(top,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  background: -o-linear-gradient(top,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  background: -ms-linear-gradient(top,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  background: linear-gradient(to bottom,#fcb319 0%,#e87b17 100%,#2989d8 100%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcb319',endColorstr='#7db9e8',GradientType=0);
  position: relative;
}
#main header .header_content .search-top .search_btn span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(images/search.png);
  background-position: center;
  background-repeat: no-repeat;
}
#main header .header_content .account {
  position: absolute;
  top: 10px;
  right: 20px;
  overflow: hidden;
}
#main header .header_content .account .account_img_container {
  border-radius: 10px;
  border: 3px solid #fff;
  margin-right: 10px;
  width: 47px;
  float: left;
}
#main header .header_content .account .account_img_container img {
  width: 100%;
  display: block;
}
#main header .header_content .account ul {
  float: left;
  text-align: right;
  font-weight: bold;
}
#main header .header_content .account ul li {
  padding-bottom: 5px;
}
#main header .header_content .account ul li a:hover {
  text-decoration: none;
}
#main .content_container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #f7f7f7;
}
#main .content_container .left_menu_container {
  width: 90px;
  float: left;
  height: 100%;
  background-color: blue;
}
#main .content_container .content {
  width: auto;
  height: 100%;
  margin-left: 90px;
  margin-right: 200px;
  position: relative;
}
#main .content_container .content > div {
  -webkit-box-shadow: 0px 5px 15px rgba(50,50,50,0.75);
  -moz-box-shadow: 0px 5px 15px rgba(50,50,50,0.75);
  box-shadow: 0px 5px 15px rgba(50,50,50,0.75);
  width: 97%;
  margin: auto;
  height: 96%;
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
#main .content_container .content > div .header_container {
  background: #f8ffe8;
  background: -moz-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8ffe8),color-stop(4%,#f8ffe8),color-stop(44%,#eeeeee),color-stop(100%,#e9e9e9));
  background: -webkit-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -o-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -ms-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: linear-gradient(to bottom,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ffe8',endColorstr='#e9e9e9',GradientType=0);
  height: 90px;
  border-bottom: 1px solid #f0f0f0;
  -webkit-box-shadow: 0px 1px 0px #d4d4d4;
  -moz-box-shadow: 0px 1px 0px #d4d4d4;
  box-shadow: 0px 1px 0px #d4d4d4;
  position: relative;
  overflow: hidden;
}
#main .content_container .content > div .header_container h2 {
  color: #3e4b5a;
  font-size: 20px;
  font-weight: bold;
  text-indent: 19px;
  display: block;
}
#main .content_container .content > div .header_container .but_create {
  padding: 8px 10px;
  border-radius: 7px;
  position: absolute;
  top: 10px;
  right: 20px;
  outline: 0;
  color: #8095ab;
  background: #f8ffe8;
  background: -moz-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8ffe8),color-stop(4%,#f8ffe8),color-stop(44%,#eeeeee),color-stop(100%,#e9e9e9));
  background: -webkit-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -o-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: -ms-linear-gradient(top,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  background: linear-gradient(to bottom,#f8ffe8 0%,#f8ffe8 4%,#eeeeee 44%,#e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ffe8',endColorstr='#e9e9e9',GradientType=0);
  font-size: 10pt;
  font-weight: bold;
  border: 1px solid #cfd1d2;
  border-bottom: 1px solid #a2a5a8;
  -webkit-box-shadow: 0px 1px 0px #d3d3d4, inset 0px -1px 0px #d3d3d4;
  -moz-box-shadow: 0px 1px 0px #d3d3d4, inset 0px -1px 0px #d3d3d4;
  box-shadow: 0px 1px 0px #d3d3d4, inset 0px -1px 0px #d3d3d4;
  -webkit-text-shadow: 0px 1px 0px #fff;
  -moz-text-shadow: 0px 1px 0px #fff;
  text-shadow: 0px 1px 0px #fff;
  opacity: 0.8;
}
#main .content_container .content > div .header_container .but_create:hover {
  opacity: 1;
}
#main .content_container .content > div .header_container ul {
  position: absolute;
  top: 55px;
  right: 20px;
}
#main .content_container .content > div .header_container ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0 5px 23px;
  background-position: center left;
  background-repeat: no-repeat;
  margin-left: 20px;
}
#main .content_container .content > div .header_container ul li:first-child {
  background-image: url(images/new-grey_1.png);
}
#main .content_container .content > div .header_container ul li:first-child + * {
  background-image: url(images/new-grey_2.png);
}
#main .content_container .content > div .header_container ul li:first-child + * + * {
  background-image: url(images/new-grey_3.png);
}
#main .content_container .content > div .header_container ul li:first-child + * + *  + * {
  background-image: url(images/new-grey_4.png);
}
#main .content_container .content > div .header_container ul li:first-child + * + * + * + * {
  background-image: url(images/new-grey_5.png);
}
#main .content_container .content > div .header_container ul li a {
  color: #8595a6;
}
#main .content_container .content > div .header_container ul li a:hover {
  text-decoration: none;
}
#main .content_container .content > div .header_container ul li span {
  margin-left: 5px;
  color: #e77817;
}
.table_container .jspPane {
  width: 100% !important;
}
.table_container table {
  width: 100% !important;
  font-size: 12px;
  text-align: left;
  color: #3e4b59;
}
.table_container table .blank {
  width: 20px;
  border: 0;
  position: relative;
}
.table_container table .blank div {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #d34a48;
  top: 0;
  left: 0;
  display: none;
}
.table_container table .col_1 {
  width: 40px;
}
.table_container table .col_2 {
  width: 30%;
}
.table_container table .col_3 {
  width: 15%;
}
.table_container table .col_4 {
  width: 15%;
}
.table_container table .col_5 {
  width: 15%;
}
.table_container table td {
  padding: 15px 0;
  border-bottom: 1px solid #dee4ea;
}
.table_container table td a {
  font-weight: bold;
}
.table_container table td a:hover {
  text-decoration: none;
}
.table_container table thead tr {
  font-weight: bold;
}
.table_container table thead tr th {
  padding: 15px 0;
  border-bottom: 1px solid #366da3;
}
.table_container table thead tr th a {
  color: #528fcc;
  text-decoration: none;
  border-bottom: 1px dotted #528fcc;
}
.table_container table thead tr th a:hover {
  border: 0;
}
.table_container table tbody tr:hover .blank div {
  display: block;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}